<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>پرسمان</title>
    </head>
    <body>
        <h1  style="direction:rtl;">نکاتی راجع به سامانه پرسمان و نحوه ارزیابی</h1>
        <ul style="direction:rtl;">
            <li>این سامانه برای تسهیل فرایند ارزیابی سازمانی توسعه داده شده است</li>
            <li>تمامی پاسخ های شما به صورت ناشناس در سامانه ثبت می شود</li>
            <li>لطفا در ثبت پاسخ های خود دقت لازم را داشته باشید و به افراد مشخص شده و با نسبت های گفته شده، سؤالات را پاسخ دهید</li>
        </ul>
    
            <a href="http://127.0.0.1:8000/evaluation/"><button>برو به صفحه ارزیابی</button></a>

        <script>
        /*const api_url = 'http://127.0.0.1:8000/employees/';
        xmlhttp=new XMLHttpRequest();
        xmlhttp.open("GET",api_url,false);
        xmlhttp.send();
        employees = JSON.parse(xmlhttp.responseText);
        var table = document.getElementById('demo')
        for (let i = 0; i<employees.length; i++){
            var id = employees[i].id;
            var first_name = employees[i].first_name;
            var position = employees[i].position;
            var row = `<tr> <td> ${id} </td> <td> ${first_name} </td> <td> ${position} </td> </tr> `
            table.innerHTML += row
        }*/

        
        
        
        </script>
    </body>
</html>