<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>

        <style>

        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        
        </style>
    </head>
    <body>
        <div  class = 'center'>
        {%if forms.error%}
        <p > در ورودی شما مشکلی وجود دارد <p>
        {%endif%}
        {%if next %}
        <p class = center > متأسفانه نمیتوانید به این صفحه دسترسی داشته باشید. لطفا ابتدا وارد شوید</p>
        {%endif%}
        <form class = 'center' method = 'post'action="{% url 'login'%}">
            {% csrf_token %}
            <p class="center">نام کاربری:{{ form.username }}</p>
            <p class = "center">گذرواژه:{{ form.password }}</p>
            <P class="center"><input class = "center" type="submit" value ='login'></p>
            <input class = "center" type="hidden" name = 'next' value ='{{next}}'>

        </form>
    </div>

    </body>
</html> 


