<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>

        <style>
            form {
                display:flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20%;
                border-top: 1px rgb(0, 183, 255) solid;
                border-bottom: 1px rgb(0, 183, 255) solid;
                font-style:italic;

            }
            .s {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div></div>
        {%if forms.error%}
        <p > در ورودی شما مشکلی وجود دارد <p>
        {%endif%}
        {%if next %}
        <p class="s"> متأسفانه نمیتوانید به این صفحه دسترسی داشته باشید. لطفا ابتدا وارد شوید</p>
        {%endif%}
        <form method = 'post'action="{% url 'login'%}">
            {% csrf_token %}
            <p>نام کاربری:{{ form.username }}</p>
            <p>گذرواژه:{{ form.password }}</p>
            <P><input type="submit" value ='login'></p>
            <input type="hidden" name = 'next' value ='{{next}}'>

        </form>

    </body>
</html> 


